main {
    display: flex;
    justify-content: space-between;
}

.container__formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

